<%- include('../includes/head.ejs') %>
  <link href="css/home.css" rel="stylesheet">
</head>

<body>

  <!-- Spinner Start -->
  <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
  </div>
  <!-- Spinner End -->

  <%- include('../includes/nav.ejs') %>

  <!-- Modal Search Start -->
  <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content rounded-0">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex align-items-center">
          <div class="input-group w-75 mx-auto d-flex">
            <form action="/search" method="POST">
              <input type="search" class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" placeholder="keywords" aria-describedby="search-icon-1" name="search">
              <button type="submit"><span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Search End -->

  <!-- Hero Start -->
  <div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5 h-100">
      <div class="row g-5 align-items-center">
        <div class="col-md-12 col-lg-7">
          <!--  <h1 class="mb-5 display-3 color-white">New Crocs To Make It Elegent</h1> -->
          <!--<div class="position-relative mx-auto">
            <form action="/search" method="POST">
              <input type="search" id="hero-search" class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" placeholder="keywords" aria-describedby="search-icon-1" name="search">
              <button type="submit" id="hero-button" class="btn btn-primary border-2 border-secondary py-3 px-5 position-absolute rounded-pill text-white h-100 bg-color" style="top: 0; right: 25%;">Search</button>
            </form>
          </div>-->
        </div>
        <div class="col-md-12 col-lg-5 h-100 slider">
          <div id="carouselId" class="carousel h-100 slide position-relative" data-bs-ride="carousel">
            <div class="carousel-inner h-100" role="listbox">
              <div class="carousel-item active rounded h-100">
                <img src="styles/images/home/slider1.jpg" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">

              </div>
              <div class="carousel-item rounded h-100">
                <img src="styles/images/home/slider3.jpg" class="img-fluid w-100 h-100 rounded" alt="Second slide">
              </div>

              <div class="carousel-item rounded h-100">
                <img src="styles/images/home/slider2.jpg" class="img-fluid w-100 h-100 rounded" alt="Second slide">
              </div>


            </div>
            <button class="carousel-control-prev bg-color" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next bg-color" type="button" data-bs-target="#carouselId" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero End -->


  <!-- Featurs Section Start -->
  <div class="container-fluid featurs py-5">
    <div class="container py-5">
      <div class="row g-4">
        <div class="col-md-6 col-lg-3">
          <div class="featurs-item text-center rounded bg-light p-4">
            <div class="featurs-icon btn-square rounded-circle mb-5 mx-auto bg-color">
              <i class="fas fa-car-side fa-3x text-white"></i>
            </div>
            <div class="featurs-content text-center">
              <h5>Fast Shipping</h5>
              <p class="mb-0"> Get your favorite crocs delivered swiftly , so you can start enjoying your new footwear as soon as possible.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="featurs-item text-center rounded bg-light p-4">
            <div class="featurs-icon btn-square rounded-circle mb-5 mx-auto bg-color">
              <i class="fas fa-user-shield fa-3x text-white"></i>
            </div>
            <div class="featurs-content text-center">
              <h5>Quality Assurance</h5>
              <p class="mb-0">At our crocs factory, we are committed to make exceptional quality in every crocs.We make only the highest quality</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="featurs-item text-center rounded bg-light p-4">
            <div class="featurs-icon btn-square rounded-circle bg-color mb-5 mx-auto">
              <i class="fas fa-shopping-bag fa-3x text-white"></i>
            </div>
            <div class="featurs-content text-center">
              <h5>Product Range</h5>
              <p class="mb-0"> We offer a diverse range of comfortable and stylish crocs for men, women, and children. From classic clogs to trendy sandals,</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="featurs-item text-center rounded bg-light p-4">
            <div class="featurs-icon btn-square rounded-circle bg-color mb-5 mx-auto">
              <i class="fa fa-phone-alt fa-3x text-white"></i>
            </div>
            <a href="/contact">
            <div class="featurs-content text-center">
              <h5>24/7 Support</h5>
              <p class="mb-0">Our dedicated support team is available around the clock to provide you with fast and friendly assistance.</p>
            </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Featurs Section End -->


<!-- Products Start -->
    <div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Trendy Products</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">

        <% let y = 0; %>
        <% if (prods.length > 0 || prods.length > 4) { %>
        <% for (let product of prods) { %>
        <% if (y >= 4) break; %>

        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" style="height: 350px;" src="<%= product.imageUrl.images[0] %>" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3"><%= product.title %></h6>
                    <div class="d-flex justify-content-center">
                        <h6><%= product.description %></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">

                    <a href="/products/<%= product._id %>" class="btn btn-sm text-dark p-0"><i class="fas fa-eye mr-1" style="color:#81c408;margin-right:5px"></i>View Detail</a>
                    <% if (isAuthenticated) { %>
                    <form action="/cart" method="post" class="me-2">
                          <button class="btn btn-sm text-dark p-0" type="submit"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add to Cart</button>
                          <input type="hidden" name="productId" value="<%= product._id %>">
                        </form>
                    <% } %>
                    <!--<a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>-->
                </div>
            </div>
        </div>
        <% y++; %>
              <% } %>
              <% } else { %>
              <h1>No Products Found!</h1>
              <% } %>

    </div>
</div>

    <!-- Products End -->




<div class="container" id="spin-container">
<h1>Our Products Wheel</h1>
<h5>Press anywhere to find more !</h5>
<a href="/products">
<img src="/styles/images/Nav_Logo.png" alt="" id="rotate-logo">
  <img class="image1" id="rotatingImage" src="/styles/images/home/1.png" alt="Image 1">
</a>
</div>





  <!-- Featurs Start -->
  <div class="container-fluid service py-5">
    <div class="container py-5">
      <div class="row g-4 justify-content-center">
        <div class="col-md-6 col-lg-4">
          <a href="/products">
            <div class="service-item bg-secondary rounded border border-secondary h-75">
              <img src="styles/images/1/kids1.jpg" class="img-fluid rounded-top w-100" alt="">
              <div class="px-4 rounded-bottom">
                <div class="service-content text-center p-4 rounded" style="background-color: #d1242a;">
                  <h5 class="text-white">Spidermad Coco Crocs</h5>
                  <h3 class="mb-0">20% OFF</h3>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="/shop">
            <div class="service-item bg-dark rounded border border-dark h-75">
              <img src="styles/images/1/kids2.jpg" class="img-fluid rounded-top w-100" alt="">
              <div class="px-4 rounded-bottom">
                <div class="service-content text-center p-4 rounded" style="background-color: #f58f20;">
                  <h5 class="text-white">Batman Coco Crocs</h5>
                  <h3 class="mb-0">Free delivery</h3>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="/shop">
            <div class="service-item bg-primary rounded border border-primary h-75">
              <img src="styles/images/1/profile1.jpg" class="img-fluid rounded-top w-100" alt="">
              <div class="px-4 rounded-bottom">
                <div class="service-content text-center p-4 rounded" style="background-color: #809096;">
                  <h5 class="text-white">Basic Coco Crocs</h5>
                  <h3 class="mb-0">Discount 30$</h3>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Featurs End -->


  <!-- Vesitable Shop Start-->
  <!-- <div class="container-fluid vesitable py-5">
            <div class="container py-5">
                <h1 class="mb-0">Our Best Sales</h1>
                <div class="owl-carousel vegetable-carousel justify-content-center">
                    <% if (prods.length > 0) { %>
                        <% for (let product of prods) { %>
                    <div class="border border-primary rounded position-relative vesitable-item">
                        <div class="vesitable-img">
                            <img src="styles/imgs/22.jpg" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">New</div>
                        <div class="p-4 rounded-bottom">
                            <h4><%= product.title%></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                                <a href="cart.html" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to bag</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                    <% } %>
                    <% if (prods.length > 0) { %>
                        <% for (let product of prods) { %>
                    <div class="border border-primary rounded position-relative vesitable-item">
                        <div class="vesitable-img">
                            <img src="styles/imgs/23.jpg" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">New</div>
                        <div class="p-4 rounded-bottom">
                            <h4><%= product.title%></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                                <a href="cart.html" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to bag</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                    <% } %>
                    <% if (prods.length > 0) { %>
                        <% for (let product of prods) { %>
                    <div class="border border-primary rounded position-relative vesitable-item">
                        <div class="vesitable-img">
                            <img src="styles/imgs/24.jpg" class="img-fluid w-100 rounded-top bg-light" alt="">
                        </div>
                        <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">New</div>
                        <div class="p-4 rounded-bottom">
                            <h4><%= product.title%></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fs-5 fw-bold mb-0">$7.99</p>
                                <a href="cart.html" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to bag</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                    <% } %>
                    <div class="border border-primary rounded position-relative vesitable-item">
                        <div class="vesitable-img">
                            <img src="imgs/25.jpg" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">Borrow</div>
                        <div class="p-4 rounded-bottom">
                            <h4>Jackque Rousseau</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fs-5 fw-bold mb-0">$7.99</p>
                                <a href="cart.html" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to bag</a>
                            </div>
                        </div>
                    </div>
                    <div class="border border-primary rounded position-relative vesitable-item">
                        <div class="vesitable-img">
                            <img src="imgs/26.jpg" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">Borrow</div>
                        <div class="p-4 rounded-bottom">
                            <h4>La Tregua</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fs-5 fw-bold mb-0">$7.99</p>
                                <a href="cart.html" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to bag</a>
                            </div>
                        </div>
                    </div>
                    <div class="border border-primary rounded position-relative vesitable-item">
                        <div class="vesitable-img">
                            <img src="imgs/27.jpg" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">Borrow</div>
                        <div class="p-4 rounded-bottom">
                            <h4>Three Little Animals</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fs-5 fw-bold mb-0">$7.99 </p>
                                <a href="cart.html" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to bag</a>
                            </div>
                        </div>
                    </div>
                    <div class="border border-primary rounded position-relative vesitable-item">
                        <div class="vesitable-img">
                            <img src="imgs/28.jpg" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">New</div>
                        <div class="p-4 rounded-bottom">
                            <h4>Leo Telstoy</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fs-5 fw-bold mb-0">$7.99 </p>
                                <a href="cart.html" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to bag</a>
                            </div>
                        </div>
                    </div>
                    <div class="border border-primary rounded position-relative vesitable-item">
                        <div class="vesitable-img">
                            <img src="imgs/29.jpg" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">Borrow</div>
                        <div class="p-4 rounded-bottom">
                            <h4>War And Peace</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fs-5 fw-bold mb-0">$7.99 </p>
                                <a href="cart.html" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to bag</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
  <!-- Vesitable Shop End -->






<!-- Bestsaler Product Start -->
        <div class="container-fluid py-5" style="margin-top: -150px;">
            <div class="container py-5">
                <div class="text-center mx-auto mb-5" style="max-width: 700px;">
                    <h1 class="display-4">Disney Products</h1>
                    <!--<p>Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>-->
                </div>
                <div class="row g-4">
                    
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="text-center">
                            <img src="/styles/images/disney/batman.jpg" class="img-fluid rounded" alt="">
                            <div class="py-4">
                                <a href="#" class="h5">Batman Crocs</a>
                                <div class="d-flex my-3 justify-content-center">
                                    <i class="fas fa-star" style="color:#81c408"></i>
                                    <i class="fas fa-star" style="color:#81c408"></i>
                                    <i class="fas fa-star" style="color:#81c408"></i>
                                    <i class="fas fa-star" style="color:#81c408"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <h4 class="mb-3">3.12 $</h4>
                                <a href="/products" class="btn border rounded-pill px-3" style="color:#81c408;border:color:#81c408"><i class="fa fa-shopping-bag me-2" style="color:#81c408"></i> Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="text-center">
                            <img src="/styles/images/disney/spiderman3.jpg" class="img-fluid rounded" alt="">
                            <div class="py-4">
                                <a href="#" class="h5">Spiderman Crocs</a>
                                <div class="d-flex my-3 justify-content-center">
                                    <i class="fas fa-star" style="color:#81c408"></i>
                                    <i class="fas fa-star" style="color:#81c408"></i>
                                    <i class="fas fa-star" style="color:#81c408"></i>
                                    <i class="fas fa-star" style="color:#81c408"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <h4 class="mb-3">3.12 $</h4>
                                <a href="/products" class="btn border rounded-pill px-3" style="color:#81c408;border:color:#81c408"><i class="fa fa-shopping-bag me-2" style="color:#81c408"></i> Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="text-center">
                            <img src="/styles/images/disney/batman2.jpg" class="img-fluid rounded" alt="">
                            <div class="py-4">
                                <a href="#" class="h5">Batman Crocs</a>
                                <div class="d-flex my-3 justify-content-center">
                                    <i class="fas fa-star" style="color:#81c408"></i>
                                    <i class="fas fa-star" style="color:#81c408"></i>
                                    <i class="fas fa-star" style="color:#81c408"></i>
                                    <i class="fas fa-star" style="color:#81c408"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <h4 class="mb-3">3.12 $</h4>
                                <a href="/products" class="btn border rounded-pill px-3" style="color:#81c408;border:color:#81c408"><i class="fa fa-shopping-bag me-2" style="color:#81c408"></i> Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="text-center">
                            <img src="/styles/images/disney/spiderman.jpg" class="img-fluid rounded" alt="">
                            <div class="py-2 mt-3">
                                <a href="#" class="h5">Spiderman Crocs</a>
                                <div class="d-flex my-3 justify-content-center">
                                    <i class="fas fa-star" style="color:#81c408"></i>
                                    <i class="fas fa-star" style="color:#81c408"></i>
                                    <i class="fas fa-star" style="color:#81c408"></i>
                                    <i class="fas fa-star" style="color:#81c408"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <h4 class="mb-3">3.12 $</h4>
                                <a href="/products" class="btn border rounded-pill px-3" style="color:#81c408;border:color:#81c408"><i class="fa fa-shopping-bag me-2" style="color:#81c408"></i> Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bestsaler Product End -->






  <!-- Banner Section Start-->
  <div class="container-fluid banner bg-section my-5">
    <div class="container py-5">
      <div class="row g-4 align-items-center">
        <div class="col-lg-6">
          <div class="py-4">
            <h1 class="display-3 text-white">Best Sale This Month</h1>
            <p class="fw-normal display-3 color-second mb-4">in Our Store</p>
            <p class="mb-4 color-second">Don't miss out on our best deals of the month! Discover incredible discounts on a wide range of crocs for men, women, and children.</p>
            <a href="/products" class="banner-btn btn border-2 border-white rounded-pill bg-color-second color-second py-3 px-5">BUY</a>
          </div>
        </div>
        <div class="col-lg-6 banner-second">
          <div class="position-relative h-100">
            <img src="styles/images/home/sale.jpg" class="img-fluid w-100 rounded" alt="" style="height:100%">
            <!--<div class="d-flex align-items-center justify-content-center bg-white rounded-circle position-absolute" style="width: 140px; height: 140px; top: 0; left: 0;">
              <h1 style="font-size: 100px;">1</h1>-->
            <div class="d-flex flex-column">
              <!--<span class="h2 mb-0">50$</span>-->
              <!-- <span class="h4 text-muted mb-0">kg</span> -->
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Banner Section End -->



  <!-- Fact Start -->
  <div class="container-fluid py-5">
    <div class="container">
      <div class="bg-light p-5 rounded">
        <div class="row g-4 justify-content-center">
          <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="counter bg-white rounded p-5">
              <i class="fa fa-users color"></i>
              <h4 style="color: gray;">satisfied clients</h4>
              <h1 class="color">1963</h1>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="counter bg-white rounded p-5">
              <i class="fa fa-users color"></i>
              <h4 style="color: gray;">quality of service</h4>
              <h1 class="color">99%</h1>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="counter bg-white rounded p-5">
              <i class="fa fa-users color"></i>
              <h4 style="color: gray;">quality certificates</h4>
              <h1 class="color">33</h1>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="counter bg-white rounded p-5">
              <i class="fa fa-users color"></i>
              <h4 style="color: gray;">Available Products</h4>
              <h1 class="color">789</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fact Start -->

  <style>
    @media (max-width: 768px) {

      .testimonial .owl-nav .owl-prev,
      .testimonial .owl-nav .owl-next {
        top: -48px !important;
      }
    }
  </style>

  <!-- Tastimonial Start -->
  <div class="container-fluid testimonial py-5">
    <div class="container py-5">
      <div class="testimonial-header text-center">
        <h4 style="color: gray;">Our Testimonial</h4>
        <h1 class="display-5 mb-5 color">Our Client Saying!</h1>
      </div>
      <div class="owl-carousel testimonial-carousel">
        <div class="testimonial-item img-border-radius bg-light rounded p-4">
          <div class="position-relative">
            <i class="fa fa-quote-right fa-2x color position-absolute" style="bottom: 30px; right: 0;"></i>
            <div class="mb-4 pb-4 border-bottom border-secondary">
              <p class="mb-0 color">Lorem Ipsum is simply dummy text of the printing Ipsum has been the industry's standard dummy text ever since the 1500s,
              </p>
            </div>
            <div class="d-flex align-items-center flex-nowrap">
              <div class="bg-secondary rounded">
                <img src="styles/img/testimonial-1.jpg" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
              </div>
              <div class="ms-4 d-block">
                <h4 class="color">Client Name</h4>
                <p class="m-0 pb-3">Profession</p>
                <div class="d-flex pe-5">
                  <i class="fas fa-star" style="color: #f1c40f;"></i>
                  <i class="fas fa-star " style="color: #f1c40f;"></i>
                  <i class="fas fa-star " style="color: #f1c40f;"></i>
                  <i class="fas fa-star " style="color: #f1c40f;"></i>
                  <i class="fas fa-star" style="color: #f1c40f;"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial-item img-border-radius bg-light rounded p-4">
          <div class="position-relative">
            <i class="fa fa-quote-right fa-2x color position-absolute" style="bottom: 30px; right: 0;"></i>
            <div class="mb-4 pb-4 border-bottom border-secondary">
              <p class="mb-0 color">Lorem Ipsum is simply dummy text of the printing Ipsum has been the industry's standard dummy text ever since the 1500s,
              </p>
            </div>
            <div class="d-flex align-items-center flex-nowrap">
              <div class="bg-secondary rounded">
                <img src="styles/img/testimonial-1.jpg" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
              </div>
              <div class="ms-4 d-block">
                <h4 class="color">Client Name</h4>
                <p class="m-0 pb-3">Profession</p>
                <div class="d-flex pe-5">
                  <i class="fas fa-star " style="color: #f1c40f;"></i>
                  <i class="fas fa-star " style="color: #f1c40f;"></i>
                  <i class="fas fa-star " style="color: #f1c40f;"></i>
                  <i class="fas fa-star " style="color: #f1c40f;"></i>
                  <i class="fas fa-star " style="color: #f1c40f;"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial-item img-border-radius bg-light rounded p-4">
          <div class="position-relative">
            <i class="fa fa-quote-right fa-2x color position-absolute" style="bottom: 30px; right: 0;"></i>
            <div class="mb-4 pb-4 border-bottom border-secondary">
              <p class="mb-0">Lorem Ipsum is simply dummy text of the printing Ipsum has been the industry's standard dummy text ever since the 1500s,
              </p>
            </div>
            <div class="d-flex align-items-center flex-nowrap">
              <div class="bg-secondary rounded">
                <img src="styles/img/testimonial-1.jpg" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
              </div>
              <div class="ms-4 d-block">
                <h4 class="color">Client Name</h4>
                <p class="m-0 pb-3">Profession</p>
                <div class="d-flex pe-5">
                  <i class="fas fa-star " style="color: #f1c40f;"></i>
                  <i class="fas fa-star " style="color: #f1c40f;"></i>
                  <i class="fas fa-star " style="color: #f1c40f;"></i>
                  <i class="fas fa-star " style="color: #f1c40f;"></i>
                  <i class="fas fa-star " style="color: #f1c40f;"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Tastimonial End -->










  <%- include('../includes/footer.ejs') %>


  <!-- Back to Top -->
  <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>


  <!-- JavaScript Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="styles/lib/easing/easing.min.js"></script>
  <script src="styles/lib/waypoints/waypoints.min.js"></script>
  <script src="styles/lib/lightbox/js/lightbox.min.js"></script>
  <script src="styles/lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Template Javascript -->
  <script src="styles/js/main.js"></script>



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="temp/lib/easing/easing.min.js"></script>
    <script src="temp/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="temp/mail/jqBootstrapValidation.min.js"></script>
    <script src="temp/mail/contact.js"></script>
    <script src="temp/js/main.js"></script>


  <script>
    $(document).ready(function() {
      $(".star-rating input[type='radio']").on("change", function() {
        console.log("Selected Rating: " + $(this).val());
      });
    });
  </script>
</body>

</html>